body {
    background: #264e75 !important;
    color: #ffffff !important;
}

.description {
    color: #E0F0FF !important;
    font-size: 14px !important;
}

.headline {
    color: #ADD6FF !important;
}